*::-webkit-input-placeholder {
	color: #666;
	opacity: 1;
}
*:-moz-placeholder {
	color: #666;
	opacity: 1;
}
*::-moz-placeholder {
	color: #666;
	opacity: 1;
}
*:-ms-input-placeholder {
	color: #666;
	opacity: 1;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {
	
}
body input:required:valid,
body textarea:required:valid {
	
}
body {
	font-family: "RobotoRegular", sans-serif;
	font-size: 16px;
  z-index: 100;
}




header{
  z-index: 1000;
}


footer {
  z-index: -1;
  bottom: 0px;
  width: 100%;
  margin: auto;
  text-align: center;
}

h1{
  font-size: 30px;
  line-height: 36px;
  margin-bottom: 15px;
}

h2 {
  font-size: 36px;
  font-weight: 300;
  text-transform: uppercase;
  color:#585550;
  text-align: center;
  margin-top: 0px;
  padding-top: 25px;

}


h3{
	font-size: 20px;
  line-height: 25px;
  font-weight: 300;
  color:#333344;

}
ul{
  list-style-type: none;
  padding-left: 0;
}
p{
	font-size: 16px;

}

section {
	color: rgba(69, 69, 69, 0.9);
  position: relative;
  top: -80px;
}	

p{
  color:#333344;
}

header{
        color: #f0ecec;
}

footer {
     // background-color: #333344;
      //color: #f0ecec;
}

footer p{
      color: #f0ecec;
}


.gray_style {
    background-color: rgba(51, 51, 68, 0.5);
}
.white_style{
    background-color: rgba(255, 255, 255, 0.3);  
}

.white_gr_style{
height: 502px;
    position: absolute;
    z-index: 100000000;
    width: 100%;
background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 14%, rgba(255,255,255,0) 93%, rgba(255,255,255,1) 100%); 
background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 14%,rgba(255,255,255,0) 93%,rgba(255,255,255,1) 100%); 
background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 14%,rgba(255,255,255,0) 93%,rgba(255,255,255,1) 100%); 
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=0 );
}


.header_box{
font-size: 18px;
}

.top_line {
    background-image: url(img/top.png);
    height: 183px;
    background-repeat: no-repeat;
    position: relative;
    background-position: bottom center;
        z-index: 1000;
}

.main_logo{
    background-image: url(img/logo.png);
    z-index: 1000;

    height: 170px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: 190px;
}
}

.nav_right {

}
.nav_right ul{
  text-align: center;
}

.nav_right ul li{
  display: inline-block;
  padding-left: 15px;
  color: #585550;
    padding-top: 20px;
  vertical-align: middle;

}


.nav_left{

}

.nav_left ul{
  text-align: center;
}

.nav_left ul li{
  display: inline-block;
  padding-right: 15px;
  color: #585550;
  padding-top: 20px;
  vertical-align: middle;
}



.main_box{
 height: 667px;
 background-image: url(img/mbg.jpg);
 background-repeat: no-repeat;
 -ms-background-position-x: 74%;
 background-position-x: 74%;
 -webkit-background-size: auto;
 background-size: cover;
 position: relative;
 top: -80px;
}


.main_text_box {
  position: relative;
  top:150px;
  color: #fff;
}

.main_text_box p{
    font-size: 40px;
    //color: #545151;
    color: #fff;
    padding-top: 0px;
    margin-top: 0px;
    //background-color: #fff;
    //padding: 5px 35px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 15px;
}

.main_text_box h1{
text-transform: uppercase;
    font-size: 80px;
    line-height: 59px;
    text-align: center;
}
.offer_main {
  text-align: center;
  background-color: #fff;
  overflow: auto;
}


.main_text_box button{
    position: relative;
    margin: auto;
    text-align: center;
    display: block;
    background-color: #FF4040;
    border: 2px solid #FF4040;
    font-size: 30px;
    color: #fff;
    margin-bottom: 15px;

         -webkit-transition:  1s ease-out 0s;
     -moz-transition:  1s ease-out 0s;
     -o-transition:  1s ease-out 0s;
     transition:  1s ease-out 0s;
    }

    .main_text_box button:hover{
    background-color: transparent;
    color:#FF4040;
    }
.offer_main p{
    font-size: 30px;
    color: #545151;
    padding-top: 0px;
    margin-top: 0px;
    background-color: #fff;
    padding: 5px 35px;
    text-transform: none;
    text-align: center;
    margin: 15px 0px;
}



.main_form{
    position: relative;
  top:150px;
  color: #fff;
}
.main_form h2{
  color:#fff;
}
.main_form p{ 

  color: #fff;

}
.main_form form{
  text-align: center;
}


.main_form input{
  display: block;
  margin: auto;
  margin-bottom: 20px;
  width: 75%;
  text-align: center;
}


.plan_app {
  background-image: url(img/plan_bg.jpg);
  -webkit-background-size: cover;
  background-size: cover;
}


/* Style the tab */
div.tab {
overflow: hidden;

    display: inline-block;
    width: 100%;
    text-align: center;

}

/* Style the buttons inside the tab */
div.tab button {
    background-color: inherit;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 31px;
    //margin: 0px 10px;
    width: 224px;
    color: rgba(69, 69, 69, 0.9);
}

/* Change background color of buttons on hover */
div.tab button:hover {
        background-color: #FF7373;
}

/* Create an active/current tablink class */
div.tab button.active {
    background-color: #FF4040;
    color: #fff;
}

/* Style the tab content */
.tabcontent {
    display: none;

    border-top: none;
}

.tabcontent {
    -webkit-animation: fadeEffect 1s;
    animation: fadeEffect 1s; /* Fading effect takes 1 second */
}

@-webkit-keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}






.order {
padding-bottom: 25px;
}

.order ul{
    position: relative;
    text-align: center;
}

.order ul li{
    display: inline-block;
    position: relative;
    margin: auto;
    width: 24.7%;
        vertical-align: top;
        text-align: left;
}

.circle {
      position: absolute;
    top: -65px;
}
.circle svg{
    height: 250px;
}
.circle circle{
    cx: 172;
    cy: 139;
    r: 91;
    fill: rgba(255, 115, 115, 0.2);
    position: relative;
  }
.step_n {
padding-right: 15px;
}
.step_n p{
    color: rgba(255, 115, 115, 0.6);
    position: absolute;
    top: -20px;
    left: 175px;
    font-size: 90px;
    z-index: -1;
    margin: 0px;
  }


.title_n{
    padding-top: 40px;
}

.title_n h3{
font-weight: 900;
font-size: 25px;
}

.text_n p{
padding-right: 15px;
}















.ipoteka {
    background-image: url(img/ipoteka.jpg);
    background-size: 61%;
    background-position: 100% 0%;
    background-repeat: no-repeat;
}

.ipoteka_main {


}

.ipoteka_main p{
  
}


.ipoteka_banks h3, .ipoteka h3{
text-align: center;
    padding: 0px 0;
    font-size: 31px;
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    line-height: 35px;
}

.ipoteka_form{}

.ipoteka_form input,.ipoteka_form button {
  display: inline-block;
  width: 80%;
  margin-top: 10px;
  margin-bottom: 10px;
  height: 40px;

}


.bank_item{
  position: relative;
  top: 0px;

  padding: 15px;
     -webkit-transition:   0.5s ease-out 0s;
     -moz-transition:  0.5s ease-out 0s;
     -o-transition:   0.5s ease-out 0s;
     transition:  0.5s ease-out 0s;
     min-height: 100px;


}

.bank_item:hover{
-webkit-box-shadow: 0px 25px 47px -12px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 25px 47px -12px rgba(0,0,0,0.75);
box-shadow: 0px 25px 47px -12px rgba(0,0,0,0.75);
}

.bank_item img{
    width: 80%;
    margin: auto;
    position: relative;
    display: block;
}



.bank_item p{
  font-size: 21px;
  margin-left: 10%;
}

.border_rl {
  border-right: 1px solid gray;
  border-left: 1px solid gray;
}



.place {}

.place h2{
position: absolute;
    z-index: 10000;
background-color: rgba(255,255,255,0.6);
    display: block;
    left: 0;
    right: 0;

}



.down_line {
  background-image: url(img/footer-bg.png);
  -webkit-background-size: cover;
  background-size: cover;
  background-position: 50%;
}



/*==========Карусель ==========*/

.item {
  width: 100%;
}

.block-one-example {
  margin:30px 0;
  position: relative;
}

.inner-testimonial {
  text-align: center;
  background-color: transparent;
}

.inner-testimonial img{
  width: 100%;
  margin:0 auto 15px;
  opacity: 1;
  -webkit-transition:all 1.3s linear;
  transition:all 1.3s linear;
  margin-top: 25px;
}

.owl-item.active .inner-testimonial > img{
  -webkit-transition:all 1.3s linear;
  transition:all 1.3s linear;
}

.owl-item.active .inner-testimonial > img.full-opacity {
  opacity:1;
  -webkit-transition:all 0.3s linear;
  transition:all 0.3s linear;
}

h3.city-name {
  padding:0px 0;
  font-size: 31px;
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  text-align: left;
}

/*p*/
/*.text-testimonial {
  padding: 0px 0;
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  line-height: 25px;
  text-align: left;
}*/

/*p*/
.text-testimonial {
    padding: 0px 0;
    font-size: 23px;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    line-height: 35px;
    text-align: left;
}
.block-items {
  cursor: default;
}

/*Изменяем внешний вид элементов управления (точки) */
.owl-theme .owl-dots .owl-dot span {
  width: 14px;
  height: 14px;
}

.owl-theme .owl-dots .owl-dot.active span{
  width: 18px;
  height: 18px;
}

/*Стрелки*/
.owl-my-nav {
  position: absolute;
  width: 100%;
  height: 100%;
}

.owl-my-nav .owl-prev,
.owl-my-nav .owl-next{
  position: absolute;
  width: 60px;
  top:20%;
  font-size: 150px;
  z-index: 20;
  cursor:pointer;
  opacity: 0.5;
  -webkit-transition:opacity .3s ease;
  transition:opacity .3s ease;
}

.owl-my-nav .owl-prev:hover,
.owl-my-nav .owl-next:hover{
  opacity: 0.8;
}

.owl-my-nav .owl-prev {
  left: -45px;
}

.owl-my-nav .owl-next {
  right:-30px;
  text-align: right;
}

.owl-controls {
  margin-top: 20px;
}

/*==========Карусель END ==========*/







                      /*Мобильная версия*/

/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {


}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

}



/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {


}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {




}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {
   
}

