*::-webkit-input-placeholder {
	color: #666;
	opacity: 1;
}
*:-moz-placeholder {
	color: #666;
	opacity: 1;
}
*::-moz-placeholder {
	color: #666;
	opacity: 1;
}
*:-ms-input-placeholder {
	color: #666;
	opacity: 1;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {
	
}
body input:required:valid,
body textarea:required:valid {
	
}
body {
	font-family: "RobotoRegular", sans-serif;
	font-size: 16px;
  z-index: 100;
}




header{
  z-index: 1000;
}


footer {
  z-index: -1;
  bottom: 0px;
  width: 100%;
  margin: auto;
  text-align: center;
}

h1{
  font-size: 30px;
  line-height: 36px;
  margin-bottom: 15px;
}

h2 {
  font-size: 40px;
  font-weight: 300;
  text-transform: uppercase;
  color:#585550;
  text-align: center;
  margin-top: 0px;
  padding-top: 25px;

}


h3{
	font-size: 20px;
  line-height: 25px;
  font-weight: 300;
  color:#333344;

}
ul{
  list-style-type: none;
  padding-left: 0;
}
p{
	font-size: 16px;

}

section {
	color: rgba(69, 69, 69, 0.9);
  position: relative;
  //top: -80px;
}	

p{
  color:#333344;
}

header{
        color: #f0ecec;
}

footer {
     // background-color: #333344;
      //color: #f0ecec;
}




.gray_style {
    background-color: rgba(51, 51, 68, 0.5);
}
.white_style{
    background-color: rgba(255, 255, 255, 0.3);  
}

.white_gr_style{
height: 502px;
    position: absolute;
    z-index: 100000000;
    width: 100%;
background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 14%, rgba(255,255,255,0) 93%, rgba(255,255,255,1) 100%); 
background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 14%,rgba(255,255,255,0) 93%,rgba(255,255,255,1) 100%); 
background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 14%,rgba(255,255,255,0) 93%,rgba(255,255,255,1) 100%); 
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=0 );
}

.h723{
height: 723px;
}
.header_box{
font-size: 18px;
position: absolute;
width: 100%;
}

.top_line {
    background-image: url(img/top.png);
    height: 183px;
    background-repeat: no-repeat;
    position: relative;
    background-position: bottom center;
        z-index: 1000;
}
.top_line a{
      color: #535353;
}
.top_line a:hover{
      color: rgba(83, 83, 83, 0.7);
      text-decoration: none;
}
.float_l span{
      font-size: 50px;
    color: #535353;
    top: 25px;
    position: relative;
}


.main_logo{
    background-image: url(img/logo.png);
    z-index: 999;

    height: 170px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: 190px;
}
}

.nav_right {

}

.nav_right i{
      font-size: 21px;
    color: #535353;
    top: 0;
    position: relative;
}
.nav_right ul{
  text-align: center;
}

.nav_right ul li{
  display: inline-block;
  padding-left: 15px;
  color: #585550;
    padding-top: 20px;
  vertical-align: middle;

}


.nav_left{

}

.nav_left ul{
  text-align: center;
}

.nav_left ul li{
  display: inline-block;
  padding-right: 15px;
  color: #585550;
  padding-top: 20px;
  vertical-align: middle;
}



.main_box{
background-attachment: fixed;
 background-image: url(img/mbg.jpg);
 background-repeat: no-repeat;
 -ms-background-position-x: 74%;
 background-position-x: 74%;
 -webkit-background-size: auto;
 background-size: cover;
 position: relative;
 //top: -80px;
}


.main_text_box {
  position: relative;
  top:150px;
  color: #fff;
}

.main_text_box p{
    font-size: 31px;
    //color: #545151;
    color: #fff;
    padding-top: 0px;
    margin-top: 0px;
    //background-color: #fff;
    //padding: 5px 35px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 15px;
}

.main_text_box h1{
text-transform: uppercase;
    font-size: 80px;
    line-height: 59px;
    text-align: center;
}
.offer_main {
text-align: center;
    background-color: #fff;
    overflow: auto;
    width: 67%;
    margin: auto;
    padding: 0;
    margin-top: 25px;
}


.main_text_box a{
  width: 270px;
    position: relative;
    margin: auto;
    text-align: center;
    display: block;
    background-color: #FF4040;
    border: 2px solid #FF4040;
    font-size: 30px;
    color: #fff;
    margin-bottom: 15px;
cursor: pointer;
         -webkit-transition:  1s ease-out 0s;
     -moz-transition:  1s ease-out 0s;
     -o-transition:  1s ease-out 0s;
     transition:  1s ease-out 0s;
    }

    .main_text_box a:hover{
    background-color: transparent;
    text-decoration: none;
    color:#FF4040;
    }
.offer_main p{
    font-size: 42px;
    color: #545151;
    padding-top: 0px;
    margin-top: 0px;
    background-color: #fff;
    padding: 0;
    text-transform: none;
    text-align: center;
    margin: 0;
}

.blur{
background-color: rgba(51, 51, 68, 0.8);
    width: 80%;
    margin: auto;
    padding: 25px 15px;
    margin-top: 25px;
    margin-bottom: 25px;
    border: 1px solid rgb(255, 64, 64);
}


.blur span{
font-weight: 900;
color: rgb(253, 217, 217);
}
.small_p p{
font-size: 16px;
text-transform: none;
}




.plan_app {
  background-image: url();
  -webkit-background-size: cover;
  background-size: cover;
  padding-bottom: 25px;
}

.plan_app_item  a{
height: 100%;
    position: absolute;
    width: 69%;
    z-index: 1000;
    left: 0;
    right: 0;
    margin: auto;
}


.plan_app .text-testimonial a {
  cursor: pointer;
  color: #fff;
  background-color: #FF4040;
  border:none;
       -webkit-transition:   0.5s ease-out 0s;
     -moz-transition:  0.5s ease-out 0s;
     -o-transition:   0.5s ease-out 0s;
     transition:  0.5s ease-out 0s;
         width: auto;
    font-size: 23px;
    overflow: visible;
    padding: 5px 15px;
    height: auto;
    top: 25px;
    position: relative;
}

.plan_app .text-testimonial a:hover {
text-decoration: none;
  background-color: rgba(255, 64, 64, 0.8);

}

/* Style the tab */
div.tab {
overflow: hidden;
border-bottom: none;
    display: inline-block;
    width: 100%;
    text-align: center;

}

/* Style the buttons inside the tab */
div.tab button {
    background-color: inherit;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 31px;
    //margin: 0px 10px;
    width: 224px;
    color: rgba(69, 69, 69, 0.9);
}

/* Change background color of buttons on hover */
div.tab button:hover {
        background-color: #FF7373;
}

/* Create an active/current tablink class */
div.tab button.active {
    background-color: #FF4040;
    color: #fff;
}

/* Style the tab content */
.tabcontent {
    display: none;

    border-top: none;
}

.tabcontent {
    -webkit-animation: fadeEffect 1s;
    animation: fadeEffect 1s; /* Fading effect takes 1 second */
}

@-webkit-keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}


/*Карусель для комнат*/
.carousel-control .left{
background-image:none;
}

.carousel-control .right{
background-image:none;

}



.advantages {
background: -moz-radial-gradient(center, ellipse cover, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 14%, rgba(0,0,0,0) 27%, rgba(0,0,0,0.20) 99%, rgba(0,0,0,0.20) 100%); /* FF3.6-15 */
background: -webkit-radial-gradient(center, ellipse cover, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 14%,rgba(0,0,0,0) 27%,rgba(0,0,0,0.20) 99%,rgba(0,0,0,0.20) 100%); /* Chrome10-25,Safari5.1-6 */
background: radial-gradient(ellipse at center, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 14%,rgba(0,0,0,0) 27%,rgba(0,0,0,0.20) 99%,rgba(0,0,0,0.20) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#42000000',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}

.advantages_items {

}

.advantages_items p{
/*font-weight: 900;*/
}

.advantages_items ul{
  
}

.advantages_items ul li{
  display: inline-block;
  width: 24.5%;
  padding: 15px;
  vertical-align: top;
  text-align: center;
}

.advantages_items ul li img{
width: 60%;
}

.h700{
  height: 700px;
}

.photo{
height: 700px;
  background-image: url(img/photo.jpg);
  -webkit-background-size: cover;
  background-size: cover;
  background-position-x:50%;
}


.order {
padding-bottom: 40px;

height: 550px;
background: -moz-radial-gradient(center, ellipse cover, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 14%, rgba(0,0,0,0) 27%, rgba(0,0,0,0.20) 99%, rgba(0,0,0,0.20) 100%); /* FF3.6-15 */
background: -webkit-radial-gradient(center, ellipse cover, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 14%,rgba(0,0,0,0) 27%,rgba(0,0,0,0.20) 99%,rgba(0,0,0,0.20) 100%); /* Chrome10-25,Safari5.1-6 */
background: radial-gradient(ellipse at center, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 14%,rgba(0,0,0,0) 27%,rgba(0,0,0,0.20) 99%,rgba(0,0,0,0.20) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#42000000',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.order ul{
    position: relative;
    text-align: center;
    top: 70px;
}

.order ul li{
    display: inline-block;
    position: relative;
    margin: auto;
    width: 24.7%;
        vertical-align: top;
        text-align: left;
}

.circle {
      position: absolute;
    top: -65px;
}
.circle svg{
    height: 250px;
}
.circle circle{
    cx: 172;
    cy: 139;
    r: 75;
    fill: rgba(255, 115, 115, 0.2);
    position: relative;
  }
.step_n {
padding-right: 15px;
}
.step_n p{
    color: rgba(255, 115, 115, 0.6);
    position: absolute;
    top: -20px;
    left: 175px;
    font-size: 90px;
    z-index: -1;
    margin: 0px;
  }


.title_n{
    padding-top: 40px;
}

.title_n h3{
font-weight: 900;
font-size: 25px;
}

.text_n p{
padding-right: 15px;
}

.order a{
text-align: center;

    display: block;
    margin: auto;
    width: 285px;
    padding: 5px 15px;
    font-size: 25px;
     color: #fff;
  background-color: #FF4040;
         -webkit-transition:   0.5s ease-out 0s;
     -moz-transition:  0.5s ease-out 0s;
     -o-transition:   0.5s ease-out 0s;
     transition:  0.5s ease-out 0s;

}

.order a:hover {

  background-color: rgba(255, 64, 64, 0.8);

}




.ipoteka {
    background-image: url(img/ipoteka1.jpg);
    background-size: 76%;
    background-position: 100% 0%;
    background-repeat: no-repeat;
}

.ipoteka_main {


}
.ipoteka_txt{
  margin-top: 25px;
}
.ipoteka_txt p{
  font-size: 25px;
}
.ipoteka_txt span{
font-weight: 900;
font-size: 31px
}


.ipoteka_banks h3, .ipoteka h3{
text-align: center;
    padding: 0px 0;
    font-size: 31px;
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    line-height: 35px;
}

.ipoteka_form{
    background-color: rgba(255, 255, 255, 0.8);
    padding: 0;
    top: 25px;
    position: relative;
}

.ipoteka_form input{
text-align: center;
}

.ip_form_title p{
  margin: 0;
  text-align: center;
  color: #fff;
background-color: rgba(255, 64, 64, 0.6);
    font-size: 36px;
        line-height: 70px;
}


.ipoteka_form button {
  color: #fff;
  background-color: #FF4040;
  border:none;
       -webkit-transition:   0.5s ease-out 0s;
     -moz-transition:  0.5s ease-out 0s;
     -o-transition:   0.5s ease-out 0s;
     transition:  0.5s ease-out 0s;
         width: auto;
    font-size: 31px;
    overflow: visible;
    padding: 5px 15px;
    height: auto;
}

.ipoteka_form button:hover {

  background-color: rgba(255, 64, 64, 0.8);

}

.ipoteka_form input,.ipoteka_form button {
    display: block;
    width: 80%;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 40px;

}
.ipoteka_form button {
  color: #fff;
  background-color: #FF4040;
  border:none;
       -webkit-transition:   0.5s ease-out 0s;
     -moz-transition:  0.5s ease-out 0s;
     -o-transition:   0.5s ease-out 0s;
     transition:  0.5s ease-out 0s;
         width: auto;
    font-size: 31px;
    overflow: visible;
    padding: 5px 15px;
    height: auto;
}

.ipoteka_form button:hover {

  background-color: rgba(255, 64, 64, 0.8);

}

.bank_item{
  position: relative;
  top: 0px;

  padding: 15px;
     -webkit-transition:   0.5s ease-out 0s;
     -moz-transition:  0.5s ease-out 0s;
     -o-transition:   0.5s ease-out 0s;
     transition:  0.5s ease-out 0s;
     min-height: 107px;


}

.bank_item:hover{
-webkit-box-shadow: 0px 25px 47px -12px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 25px 47px -12px rgba(0,0,0,0.75);
box-shadow: 0px 25px 47px -12px rgba(0,0,0,0.75);
background-color: #fff;
}

.bank_item img{
    width: 80%;
    margin: auto;
    position: relative;
    display: block;
    background-color: transparent;
}



.bank_item p{
  font-size: 21px;
  margin-left: 10%;
}

.border_rl {
  border-right: 1px solid gray;
  border-left: 1px solid gray;
}



.place {}

.place h2{
position: absolute;
    z-index: 99;
background-color: rgba(255,255,255,0.6);
    display: block;
    left: 0;
    right: 0;

}



.down_line {
  background-image: url(img/footer-bg.png);
  -webkit-background-size: cover;
  background-size: cover;
  background-position: 50%;
  color: rgb(51, 51, 68);
}
.down_line p{
  font-size: 21px;
}

.down_line a{
   color: blue;
}
.small_p_f p {
    font-size: 16px;
    text-transform: none;
}
.footer_logo img{
  width: 100%;
  max-width: 170px;
}

.down_line_l{
text-align: left;
}

.down_line_r{
text-align: right;
}


/*==========Карусель ==========*/
.carousel-inner>.item>a>img, .carousel-inner>.item>img{
      padding: 15px 60px;
     // max-width: 440px;
}
.item {
  width: 100%;
}

.block-one-example {
  margin:30px 0;
  position: relative;
  top: 200px;
}

.inner-testimonial {
  text-align: center;
  background-color: transparent;
  max-height: 229px;
}

.inner-testimonial img{
  width: 250px;
  margin:0 auto 15px;
  opacity: 1;
  -webkit-transition:all 1.3s linear;
  transition:all 1.3s linear;
  margin-top: 25px;
}


.owl-item.active .inner-testimonial > img{
  -webkit-transition:all 1.3s linear;
  transition:all 1.3s linear;
}

.owl-item.active .inner-testimonial > img.full-opacity {
  opacity:1;
  -webkit-transition:all 0.3s linear;
  transition:all 0.3s linear;
}

h3.city-name {
  margin-bottom: 25px;
  padding:0px 0;
  font-size: 31px;
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  text-align: left;
}

/*p*/
/*.text-testimonial {
  padding: 0px 0;
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  line-height: 25px;
  text-align: left;
}*/

/*p*/
.text-testimonial {
    padding: 0px 0;
    font-size: 23px;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    line-height: 35px;
    text-align: left;
}

.text-testimonial span{
  color: rgba(255, 64, 64, 0.8);
      font-weight: 900;
}
.block-items {
  cursor: default;
}

/*Изменяем внешний вид элементов управления (точки) */
.owl-theme .owl-dots .owl-dot span {
  width: 14px;
  height: 14px;
}

.owl-theme .owl-dots .owl-dot.active span{
  width: 18px;
  height: 18px;
}

/*Стрелки*/
.owl-my-nav {
  position: absolute;
  width: 100%;
  height: 100%;
}

.owl-my-nav .owl-prev,
.owl-my-nav .owl-next{
  position: absolute;
  width: 60px;
  top:20%;
  font-size: 150px;
  z-index: 20;
  cursor:pointer;
  opacity: 0.5;
  -webkit-transition:opacity .3s ease;
  transition:opacity .3s ease;
}

.owl-my-nav .owl-prev:hover,
.owl-my-nav .owl-next:hover{
  opacity: 0.8;
}

.owl-my-nav .owl-prev {
  left: -45px;
}

.owl-my-nav .owl-next {
  right:-45px;
  text-align: right;
}

.owl-controls {
  margin-top: 20px;
}

/*==========Карусель END ==========*/


.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#main {
    transition: margin-left .5s;
    padding: 16px;
}

/*всплывающая форма обратной связи начало*/
.mfp-close{
  color: #FFF;
}
.mfp-content h2{
  text-align: center;
  margin-top: 10px;
}


.button_form{
  height: 40px;
  width: 76%;
  margin: 5px 12%;
}

.mfp-content form {
  /*padding: 15px 40px 15px 40px;*/
  padding: 44px 65px;
  background-color: #f7f7f7;
  width: 600px;
  margin: auto;
  position: relative;
  color: #222222;
  border-radius: 5px;
  text-align: center;
}
.mfp-content form h2 {
  font-size: 27px;
      margin-bottom: 0px;
}

.mfp-content form input{
  width: 100%;
  margin-bottom: 10px;
  font-size: 21px;
  text-align: center;
  height: 40px;
  color: #000;
  line-height: 36px;

}

.mfp-content form textarea{
  width: 100%;
  margin-bottom: 10px;
}
.mfp-content form p{
  margin:10px 0px;

}


.pop_form input[type="text"] {
  display: block;
  line-height: 24px;
  margin: 0 auto 12px;
  width: 90%;
  border: #999 1px solid;
}
.pop_form .button {
  margin: 20px auto 0;
}
.pop_form h3 {
  margin: 10px auto 15px;
  text-align: center;
  font-weight: normal;
  font-family: "RobotoCondensedBold";
  text-transform: uppercase;
}



.mfp-content input {
  width: 100%;
  padding: 0 10px;
  box-sizing: border-box;
  height: 50px;
  line-height: 75px;
  text-align: center;
  background: #f9f9f9;
  color: #999;
  border: none;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 300;
  outline: none;
  border-bottom: 1px solid #bebebe;
  -webkit-transition: all 0.5s ease-in-out 0s;
  -moz-transition: all 0.5s ease-in-out 0s;
  -o-transition: all 0.5s ease-in-out 0s;
  transition: all 0.5s ease-in-out 0s;
}


.mfp-content input:focus {
  //border-bottom: 2px solid #6bace1;
  border-bottom: 2px solid #e1b52a;


}
.but_order{
  position: relative;
  overflow: hidden;
  font-weight: bold;
  cursor: pointer;
  height: 53px;
  width: 70%;
  max-width: 550px;
  margin: auto; 
  font-size: 21px;
  margin-top: 10px;
  display: block;
  text-align: center;
  text-decoration: none;
  color: #371400;
  font-weight: 300;
  border: none;
/*  border-bottom: 3px solid #D0730C;*/
/*  border-radius: 10px;*/
  outline: none;
  box-sizing: border-box;
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8c335', endColorstr='#fdaa38',GradientType=0 );
  position: relative;
  overflow: hidden;
     
    background: rgba(0, 0, 0, 0.06);
    box-shadow: none;
    font-size: 27px;
    background: rgba(225, 181, 42, 0.74);
}
.mfp-content button.but_order:active {
  top: 2px;
  box-shadow: none;
}
.mfp-content button.but_order:hover {
  background-position: -200% 0, 0 0;
  background: rgba(225, 181, 42, 0.94);
}

/*всплывающая форма обратной связи end*/


                      /*Мобильная версия*/

/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {


}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

.down_line_l p, .down_line_r p{ font-size: 16px;}
}



/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
.advantages_items ul li {    width: 49%;}
.advantages_items ul {    text-align: center;}
.order ul li {width: 100%;}
.order ul {top: 0px;}
.order {height: auto;}
.main_text_box h1 {font-size: 30px;}
.offer_main {width: 100%;}
.offer_main p {font-size: 25px;}
.blur {width: 100%;    margin-top: 10px;}
.main_text_box p {font-size: 25px;}
.down_line_l, .down_line_r {text-align: center;}
.down_line_l p, .down_line_r p{ font-size: 16px;}

}



/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
.advantages_items ul li {    width: 100%;}
h2{font-size: 31px;}
.order ul li {width: 100%;}
.order ul {top: 0px;}
.order {height: auto;}
.main_text_box h1 {    font-size: 30px;}
.offer_main {width: 100%;}
.offer_main p {font-size: 21px;}
.blur {width: 100%;    margin-top: 10px;}
.main_text_box p {font-size: 21px;}
div.tab button {font-size: 21px; width: auto;}
h3.city-name {font-size: 21px;}
.text-testimonial {font-size: 16px;}
.block-one-example {top: 36px;margin: 30px 0px;}
.photo{height: 450px;}
.down_line_l, .down_line_r {text-align: center;}
.down_line_l p, .down_line_r p{ font-size: 16px;}
.advantages_items ul li img {width: 50%;}
div.tab {border-bottom: 1px solid #b7b7b7;}
.ipoteka_banks h3, .ipoteka h3 {font-size: 21px;}
.ipoteka_txt p {font-size: 16px;}
.ipoteka_txt span {font-size: 21px;}
.ip_form_title p {font-size: 21px;}
.ipoteka_form button {width: 80%;font-size: 21px;}
.ipoteka_form {padding-bottom: 15px;}
.bank_item img {width: 100%;}
.plan_app .text-testimonial a {font-size: 16px;}
.mfp-content form {width: 355px;padding: 10px 15px;}
.main_text_box a {font-size: 25px;width: auto;}
.nav_right i {top: 18px;}
.plan_app .text-testimonial a {top:5px;}
.ipoteka {background-image: none;}
.nav_right i {font-size: 50px; top:25px;}

}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {
.mfp-content form{width: 310px;padding: 10px 15px;}
.mfp-content form h2 {font-size: 22px;}
.mfp-content h2 {margin-top: 0px;}
}

